@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

/* 사이드바 안에 있는 tag */
.tag {
  @apply bg-gpt-indigo text-white font-bold py-1.5 mb-3 px-4 font-notosanskr;
}
.tag-b {
  @apply bg-white border-2 rounded-2xl border-gpt-indigo text-gpt-indigo font-bold px-6 pb-4 pt-3;
}
.tag.active {
  @apply bg-white text-black;
}
/* 길쭉이 기본 버튼 */
.button-a {
  @apply bg-gpt-green text-white font-semibold font-notosanskr hover:text-black rounded-xl text-lg py-3.5 px-16;
}

.button-a-2 {
  @apply bg-gpt-green hover:text-black text-white font-notosanskr font-bold rounded-2xl text-lg h-12 py-1.5 px-4 mr-4;
}

.button-a-3 {
  @apply bg-gpt-green text-white font-semibold font-notosanskr rounded-xl text-lg py-3.5 px-3;
}

/* 홀쭉이 기본 버튼 */
.button-b {
  @apply bg-gpt-green text-white font-semibold font-notosanskr hover:text-black rounded-xl text-lg py-3.5 px-2;
}

.button-bt {
  @apply bg-gpt-green text-white font-semibold font-notosanskr hover:text-black rounded-2xl text-xl py-3.5 px-16 shadow-xl;
}

/* 태그 */
.button-c {
  @apply bg-gpt-green text-white font-semibold font-notosanskr rounded-xl text-lg p-3.5 relative;
}

/* 파란색 버튼 */
.button-d {
  @apply bg-gpt-blue text-white hover:text-black font-semibold font-notosanskr rounded-xl text-lg py-3.5 px-14;
}

.button-d-1 {
  @apply bg-gpt-blue text-white hover:text-black font-semibold font-notosanskr rounded-xl text-lg py-3.5 px-5;
}

.button-dt {
  @apply bg-gpt-blue text-white font-semibold font-notosanskr hover:text-black rounded-2xl text-xl py-3.5 px-16 shadow-xl;
}

/* 빨간색 버튼 */
.button-e {
  @apply bg-gpt-red text-white font-semibold font-notosanskr hover:text-black rounded-xl text-lg py-3.5 px-14;
}
/*쓰레기통 빨간 버튼*/
.button-e-2 {
  @apply bg-gpt-red text-white hover:bg-gray-400 rounded-xl text-lg px-4 pl-5 mb-2 items-center;
}
/*대버튼 빨간색*/
.button-et {
  @apply bg-gpt-red text-white font-semibold font-notosanskr hover:text-black rounded-2xl text-xl py-3.5 px-16 shadow-xl;
}

/*프롬프트 생성기 내의 태그*/
.button-f {
  @apply rounded-l py-2 px-1 mt-6 text-center font-semibold font-notosanskr text-lg text-white bg-gpt-green w-32 mx-1;
}

.button-plus-blue {
  @apply bg-blue-500 text-white hover:text-black font-notosanskr rounded-xl py-2 px-4 text-2xl font-semibold flex flex-col items-center;
}

.button-plus-red {
  @apply bg-red-500 text-white hover:text-black rounded-xl font-PretendardRegular  py-2 px-4 text-2xl font-semibold flex flex-col items-center;
}

/*PromptMake Category*/
.button-check {
  @apply bg-gray-300 text-zinc-500 font-semibold font-notosanskr active:bg-gpt-green active:text-white rounded-xl shadow p-3.5 px-5 mx-4;
}

/* form-a: 로그인, 회원가입, 회원정보 수정에 쓰이는 폼 */
.form-a {
  @apply w-3/5 flex flex-col items-center;
}

.label {
  @apply self-start mt-5 mb-2 align-middle ml-3;
}
/* signin, signup, infocheck의 폼에 적용 */
.input {
  @apply border-2 border-white w-full px-6 py-3 rounded-2xl text-white bg-transparent placeholder-opacity-50 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:border-transparent;
}

/* infoedit, promptmake의 폼에 적용 */
.input-b {
  @apply border-2 border-gray-300 shadow-2xl w-10/12 px-6 py-3 rounded-2xl bg-gray-300 text-black placeholder-opacity-50 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:border-transparent;
}

/*promptMakepage에서 단문형, 장문형 placeholder 만들 때*/
.input-b-1 {
  @apply placeholder-gray-800 font-PretendardRegular shadow-2xl w-full px-6 py-3 rounded-2xl bg-blue-200 text-black placeholder-opacity-50 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:border-transparent;
}

.input-c {
  @apply w-full shadow px-6 py-3 mt-1 rounded-2xl bg-white text-black placeholder-opacity-50 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:border-transparent grid grid-cols-3 overflow-y-scroll;
}

/*promptMakePage 좌측*/
.input-d {
  @apply border-2 border-gray-300 shadow-2xl w-11/12 px-6 py-3 rounded-2xl bg-gray-300 text-black placeholder-opacity-50 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:border-transparent;
}

/*promptMakePage에서 객관식 세부 항목 폼*/
.input-e {
  @apply placeholder-gray-800 shadow-2xl w-full px-6 py-3 rounded-2xl bg-blue-100 text-black placeholder-opacity-50 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:border-transparent;
}

body {
  margin: 0;
  font-family: "Pretendard-Regular", "Noto Sans"; /*-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    , sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom Styles */
  background-color: #48466d;
  color: white;
}

/*code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    "Noto Sans" monospace;
} */

.commentbubble {
  position: relative;
  width: 130px;
  min-height: max-content;
  padding: 3px;
  padding-top: 10px;
  padding-bottom: 12px;
  background: #73a8e9;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 20px;
}

.commentbubble:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 12px 15px 12px 0;
  border-color: transparent #73a8e9;
  display: block;
  width: 0;
  z-index: 1;
  left: -10px;
  top: 10px;
}

/*@media screen and (max-width: 1024px) {
  .commentbubble {
    width: 100px;
  }
}*/

/*오른쪽에 팔이 있는 말풍선*/
.bubble-a {
  position: relative;
  width: 750px;
  height: 170px;
  margin: 0px;
  background: #ffffff;
  overflow-y: auto;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 40px;
}

.bubble-a-after {
  width: 0;
  height: 0;
  border-bottom: 25px solid transparent;
  border-top: 25px solid transparent;
  border-left: 45px solid white;
  border-right: 45px solid transparent;
}

/*왼쪽에 팔이 있는 말풍선*/
.bubble-b {
  position: relative;
  width: 750px;
  height: 320px;
  margin: 0px;
  background: #ffffff;
  overflow-y: auto;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 40px;
}
.bubble-b-after {
  width: 0;
  height: 0;
  border-bottom: 25px solid transparent;
  border-top: 25px solid transparent;
  border-left: 45px solid transparent;
  border-right: 45px solid white;
}

/*PromptResult의 스크롤바 숨기기*/
.section-a::-webkit-scrollbar {
  width: 2px;
}
.section-a::-webkit-scrollbar-track {
  background-color: transparent;
}
.section-a::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

/*마이페이지, 홈페이지 스크롤바 디자인*/
.section-b::-webkit-scrollbar {
  width: 12px;
}
.section-b::-webkit-scrollbar-track {
  background-color: white;
  border: 1.5px solid lightgray;
  border-radius: 20px 20px 20px 20px;
}
.section-b::-webkit-scrollbar-thumb {
  background: #5082a5;
  border-radius: 20px 20px 20px 20px;
}

/*promptMake input 스크롤바 디자인*/
.section-c::-webkit-scrollbar {
  width: 8px;
}
.section-c::-webkit-scrollbar-track {
  background-color: #48466d;
  border: 1px solid lightgray;
  border-radius: 20px 20px 20px 20px;
}
.section-c::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px 20px 20px 20px;
}

/*promptDetailPage 스크롤바 디자인*/
.section-d::-webkit-scrollbar {
  width: 12px;
}
.section-d::-webkit-scrollbar-track {
  background-color: #e5e7eb;

  border-radius: 20px 20px 20px 20px;
}
.section-d::-webkit-scrollbar-thumb {
  background: #6fcacd;
  border-radius: 15px 15px 15px 15px;
}

/*사이드바 댓글창 스크롤바 디자인*/
.section-c::-webkit-scrollbar {
  width: 6px;
}
.section-c::-webkit-scrollbar-track {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 20px 20px 20px 20px;
}
.section-c::-webkit-scrollbar-thumb {
  background: #5082a5;
  border-radius: 20px 20px 20px 20px;
}

/*회원가입 비밀번호 확인용 체크*/
.checkIcon {
  position: relative;
  bottom: 40px;
  left: 370px;
}

.qmark {
  color: #a1a1aa;
}

.qmark:hover {
  color: #48466d;
}

.button-checkbox.active {
  background-color: #6fcacd;
  color: white;
}

.profile {
  color: #3f3f46;
}

.comment-x {
  color: #dc2626;
}
/*모달 컨테이너*/
.modalContainer {
  /* 모달창 크기 */

  /* 최상단 위치 */
  z-index: 999;

  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 65%;
  left: 55%;
  transform: translate(-50%, -50%);

  /* 모달창 디자인 */
  border-radius: 8px;
}

/* 모달창 내부 X버튼 */
.closeButton {
  position: absolute;
  right: 260px;
  top: 10px;
  color: #6fcacd;
  font-weight: 900;
  font-size: 30px;
}
